doctype html
html(lang="ko")
    include partials/head
    body
        header 
            h1=pageTitle
            nav 
                ul
                    li 
                        a(href="/") Home
                    if loggedIn 
                        li 
                            a(href="/users/logout") Log out
                        li  
                            a(href='/my-profile') #{user.name} 의 Profile
                    else
                        li
                            a(href='/join/') Join
                        li
                            a(href='/login/') Login
                    li 
                        a(href='/search') Search
                    li 
                        a(href="/stories/upload") Upload                 
        main
            block content
    include partials/footer 